@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  /* html is set to 62.5% so that all REM measurements are based on 10px sizing. 1.5rem = 15px */
  font-size: 62.5%;
  height: 100%;
  margin: 0 auto; }

html,
body {
  background-color: #FBFBFB;
  color: #222;
  font-family: "Raleway", sans-serif;
  max-width: 1200px; }

.none {
  display: none; }

ul {
  list-style: none; }

ol,
ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem; }

.flex {
  display: flex; }

.green {
  color: #3cba54; }

.box {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  display: block; }

a.box:hover, a.box:focus {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px #485fc7; }

a.box:active {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #485fc7; }

.searchEntry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.saved-map {
  border-radius: 6px;
  display: flex;
  gap: 1.5rem; }

.savedLocations {
  width: 15%;
  height: 100%;
  margin-left: 1.5rem; }

.mapDisplay {
  display: flex;
  width: 85%;
  height: 100%; }
  .mapDisplay-card {
    width: 30%;
    height: 100%; }
  .mapDisplay-map {
    width: 70%;
    height: 100%; }

.nearby {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%; }
  .nearby-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%; }
  .nearby-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }

.searchEntry {
  padding: 40px 0; }
  .searchEntry .logo {
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -0.1rem;
    font-weight: 700;
    padding: 3rem; }
    @media only screen and (max-width: 768px) {
      .searchEntry .logo {
        font-size: 4rem; } }
    @media only screen and (max-width: 400px) {
      .searchEntry .logo {
        font-size: 3rem; } }
    .searchEntry .logo i {
      color: #3cba54; }
  .searchEntry .searchBar {
    width: 90%;
    display: flex;
    border: 2px solid #e6e6e6;
    border-radius: 500px;
    padding: 1.75rem 1.5rem 1.75rem 1.5rem; }
    @media only screen and (max-width: 768px) {
      .searchEntry .searchBar {
        width: 80vw;
        padding: 1.25rem 1.5rem; } }
    @media only screen and (max-width: 400px) {
      .searchEntry .searchBar {
        width: 95vw; } }
    .searchEntry .searchBar:hover, .searchEntry .searchBar:focus-within {
      box-shadow: 0 2px 5px #e6e6e6; }
    .searchEntry .searchBar input[type="text"] {
      flex-grow: 1;
      font-size: 2rem;
      text-align: left;
      letter-spacing: 0.1rem;
      border: 0;
      outline: none;
      min-width: 150px; }
      @media only screen and (max-width: 768px) {
        .searchEntry .searchBar input[type="text"] {
          font-size: 1.25rem; } }
    .searchEntry .searchBar .button {
      cursor: pointer;
      border: 0;
      background: transparent;
      min-width: 48px;
      min-height: 48px;
      outline: none; }
      .searchEntry .searchBar .button i {
        font-family: "Font Awesome 5 Free";
        font-size: 3rem; }
        @media only screen and (max-width: 768px) {
          .searchEntry .searchBar .button i {
            font-size: 1.5rem; } }
      .searchEntry .searchBar .button .blue {
        color: #4885ed; }
    @media only screen and (max-width: 768px) {
      .searchEntry .searchBar .searchButton {
        padding-left: 1rem; } }
    .searchEntry .searchBar .searchButton:hover i, .searchEntry .searchBar .searchButton:focus i {
      color: #3cba54; }
    .searchEntry .searchBar .clear {
      justify-content: center;
      align-items: center;
      color: #70757a;
      border-right: thin solid #d9d9d9; }
      @media only screen and (max-width: 768px) {
        .searchEntry .searchBar .clear {
          padding-left: 0 1rem; } }
      .searchEntry .searchBar .clear:hover i, .searchEntry .searchBar .clear:focus i {
        color: #db3236; }

.savedLocations {
  font-size: 1.5em; }
  .savedLocations li:last-child {
    border-bottom: 0.1em solid #e6e6e6;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }
  .savedLocations li:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  .savedLocations-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.1em solid #e6e6e6;
    border-bottom: none;
    transition: all 0.3s; }
    .savedLocations-div:hover {
      background-color: #e6e6e6;
      cursor: pointer; }
  .savedLocations-item {
    width: 100%;
    padding: 10px;
    transition: all 0.3s; }
    .savedLocations-item-zip {
      color: #b3b3b3;
      font-size: 1.25rem; }
  .savedLocations .x {
    padding-right: 10px;
    color: #db3236;
    aspect-ratio: 1;
    transition: all 0.3s; }
    .savedLocations .x:hover {
      color: #ea898b; }

.nearby {
  padding: 40px 0; }
  .nearby-heading {
    font-size: 3em;
    padding: 0.5em 0 0.5em 1em; }
  .nearby-card-wrapper {
    gap: 10px;
    flex-wrap: wrap; }
  .nearby-card {
    border: 2px solid #3cba54;
    background-color: #3cba54;
    border-radius: 6px;
    min-width: 200px;
    max-width: 200px;
    height: 250px;
    color: #fff; }
    .nearby-card-name {
      font-size: 1.75rem !important;
      font-weight: 700; }
    .nearby-card p {
      font-size: 1.5rem;
      line-height: 2rem;
      padding: 10px; }
    .nearby-card:hover {
      cursor: pointer;
      background-color: #5ecb73; }

.mapDisplay {
  border: 0.1em solid #e6e6e6; }
  .mapDisplay-card {
    font-size: 1.5rem;
    padding: 10px; }
    .mapDisplay-card-name {
      font-size: 2rem;
      overflow-wrap: break-word;
      font-weight: 700; }
      @media only screen and (max-width: 920px) {
        .mapDisplay-card-name {
          font-size: 1.5rem; } }
    .mapDisplay-card-item {
      padding: 1rem; }
    .mapDisplay-card-stats {
      line-height: 2rem; }

.map {
  width: 100%;
  height: 50vh; }

body footer {
  text-align: center;
  padding-top: 37px;
  padding-bottom: 2em; }
  body footer a {
    text-decoration: none;
    color: #e6e6e6;
    transition: .3s; }
    body footer a:hover {
      color: #afafaf;
      font-size: 105%; }

@media screen and (max-width: 550px) {
  .saved-map {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; }
  .savedLocations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 10px 0;
    max-width: 90vw;
    margin-top: 40px; }
    .savedLocations-item {
      width: 200px; }
  .mapDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .mapDisplay-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 100%; }
      .mapDisplay-card-item {
        width: 100%;
        height: 100%;
        text-align: center; }
      .mapDisplay-card-stats {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
    .mapDisplay-map {
      border: 1px solid green;
      width: 100%;
      height: 100%; } }
