.nearby {
  padding: 40px 0;

  &-heading {
    font-size: 3em;
    padding: 0.5em 0 0.5em 1em;
  }

  &-card-wrapper {
    gap: 10px;
    flex-wrap: wrap;
  }

  &-card {
    border: 2px solid $logo-green;
    background-color: $logo-green;
    border-radius: 6px;
    min-width: 200px;
    max-width: 200px;
    height: 250px;
    color: $second-font-color;

    &-name {
      font-size: 1.75rem !important;
      font-weight: 700;
    }

    & p {
      font-size: 1.5rem;
      line-height: 2rem;
      padding: 10px;
    }

    &:hover {
      cursor: pointer;
      background-color: lighten($logo-green, 10%);

    }
  }
}
