.nearby {
  &-heading {
    font-size: 3em;
    padding: 0.5em 0 0.25em 1em;
  }

  &-card-wrapper {
    gap: 10px;
    flex-wrap: wrap !important;
  }

  &-card {
    border: 2px solid $logo-green;
    background-color: $logo-green;
    border-radius: 6px;
    max-width: 200px;
    height: 250px;
    color: #fff;

    &-name {
      font-size: 1.75rem !important;
      font-weight: 700;
    }

    & p {
      font-size: 1.5rem;
      line-height: 2rem;
      padding: 10px;
    }
  }
}
