.savedLocations {
  font-size: 1.5em;

  & li:last-child {
    border-bottom: 0.1em solid $search-bar-border;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  & li:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &-div {
    @include flexPosition;
    border: 0.1em solid $search-bar-border;
    border-bottom: none;
    transition: all 0.3s;

    &:hover {
      background-color: $search-bar-border;
      cursor: pointer;
    }
  }

  &-item {
    width: 100%;
    padding: 10px;
    transition: all 0.3s;

    &-zip {
      color: darken($search-bar-border, 20%);
      font-size: 1.25rem;
    }
  }

  .x {
    padding-right: 10px;
    color: $logo-red;
    aspect-ratio: 1;
    transition: all 0.3s;

    &:hover {
      color: lighten($logo-red, 20%);
    }
  }
}
