.savedLocations {
  font-size: 1.5em;
      @include mq(920px) {
      color: blue;
    }

  & li:last-child {
    border-bottom: 0.1em solid $search-bar-border;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  & li:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &-item {
    border: 0.1em solid $search-bar-border;
    width: 100%;
    padding: 10px;
    border-bottom: none;
  }
}
