// save for future use
@mixin fullSpace($width: 100%) {
  width: $width;
  height: 100%;
}

// save for future use
@mixin flexPosition($justCont: center, $alignIte: center, $flexDir: row) {
  display: flex;
  flex-direction: $flexDir;
  justify-content: $justCont;
  align-items: $alignIte;
}

// save for future use
@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

// save for future use
@mixin centering($topValue) {
  position: absolute;
  top: $topValue;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin textStyles($transform: uppercase) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: $transform;
}
